<!doctype html>
<html lang="en-US">
  <head>
    <meta property="og:image" content="https://projects.seattletimes.com/2019/public-crisis-private-toll-part2/assets/social.jpg" />
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      <%= t.include("partials/_gtm.html") %>
      <%= t.include("partials/_nav.html") %>

    <header>
      <h1>PUBLIC CRISIS, PRIVATE TOLL </h1>
      <h3>The hidden costs of the mental-health industry’s expansion</h3>
        <div class="content line constrained">
          <img src="assets/line.jpg"></div>
        <h2>At private psychiatric hospitals, a hidden safety record, a human cost</h2>
        <img src="assets/photos/eric-entry.jpg" alt="Eric Descalso upon entry to Cascade Behavioral" aria-describedby="eric-entry-caption">
      </a>
        <div class="captionLeft" id="eric-entry-caption">Peter Eric Descalso checked into Cascade Behavioral Hospital in December 2016 for alcoholism treatment. This document was part of his admission paperwork. (Courtesy of the Descalso family)</div>
      </div>
    </header>

    <main class="content">
      <div class="byline constrained">
            By <a class="name" href="https://www.seattletimes.com/author/daniel-gilbert/">Daniel Gilbert</a>
            <div class="staff">Seattle Times staff reporter</div>
            <div class="date">Published September 8, 2019</div>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section1) %>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section2) %>
      </div>

      <div class="visible-mobile">
          <hr>
        </div>
  
        <div class="floating constrained">
          <div>
            <h6>TIMES WATCHDOG</h6>
            <a href="http://projects.seattletimes.com/2019/public-crisis-private-toll-prologue"><h3>Public Crisis, Private Toll:
                <br>Read the full investigation</h3><img src="assets/photos/image6m.jpg" alt="Link to read the overview of mental healthcare in Washington"></a>
          </div>
        </div>
  
        <div class="visible-mobile">
          <hr>
        </div>
    
      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section3) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.15">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.15">
        <h5>“That seems like a big, big red flag.” - Jim Vollendroff, former director of King County Behavioral Health and Recovery Division</h5>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section4) %>
        </div>

        <div class="floating constrained">
            <div class="resources">
              <a href="https://www.seattletimes.com/seattle-news/times-watchdog/response-from-cascade-behavioral-ceo-michael-uradnik/" target="blank"> <h3 style="line-height: 1.4">Read the full response from Cascade Behavioral CEO Michael Uradnik</h3></a>
            </div>
          </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section5) %>
      </div>

      <hr>

      <div class="hidden-tablet" id="bubble-chart">
        <%= t.include("_bubbleChart.html") %>
      </div>
  
      <div class="visible-tablet">
        <%= t.include("_bubbleChartMobile.html") %>
      </div>

      <hr>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section6) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.2">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.2">
        <h5>“Our role in this structure is to really work with the facility to help them be successful in doing their job better.” - Nate Weed, director of the state Department of Health’s Office of Community Health Systems</h5>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section7) %>
        </div>

        <hr>
        
        <div id="state-inspections">
          <%= t.include("_inspection-map.html") %>
        </div>

        <hr>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section8) %>
        </div>

          <div class="content line top">
              <img src="assets/line.jpg"></div>

        <div class="constrained">
            <%= t.renderMarkdown(archieml.text2.section9) %>
          </div>

      <div class="constrained photo">
          <img src="assets/photos/eric-young-daughter.jpg" alt="Eric Descalso holding young daughter" aria-describedby="eric-young-daughter-caption">
        </a>
          <div class="caption" id="eric-young-daughter-caption">Eric Descalso holds his daughter Danielle in a family photo. (Courtesy of the Descalso family)</div>
        </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section10) %>
        </div>

        <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.25">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.25">
        <h5>The acquisition “is absolutely going to be a gem for us,” Acadia’s president told financial analysts the following spring.</h5>
        </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section11) %>
      </div>

        <div class="floating constrained">
            <div class="resources">
              <a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/"><h3>Resources for mental-health support</h3></a>
              <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#one">In a crisis?</a></li>
              <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#two">Need support?</a></li>
              <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#three">Worried about someone you know?</a></li>
            </div>
          </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section12) %>
    </div>

      <div class="photo">
        <img src="assets/photos/cascade.jpg" alt="Cascade Behavioral Health Hospital building" aria-describedby="cascade-caption">
      </a>
        <div class="caption" id="cascade-caption">Cascade Behavioral Health Hospital in Tukwila was known as Riverton Hospital until it was sold to Acadia Healthcare in 2013. It offers treatment for psychiatric and addiction disorders. (Erika Schultz / The Seattle Times)</div>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section13) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
        <h5>Police officers were responding to Cascade Behavioral so often that in October of 2016, Tukwila’s police chief designated it a “chronic nuisance property.”</h5>
      </div>
 
      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section14) %>
      </div>

        <div class="floating constrained">
            <div class="resources">
              <h6 style="padding: 10px">You can support watchdog journalism</h6>
              Make a tax-deductible donation to <a href="https://company.seattletimes.com/investigativefund/">The Seattle Times Investigative Journalism Fund,</a> and subscribe to <a href="https://www.seattletimes.com/subscribe/signup-offers/">The Seattle Times.</a>
            </div>
          </div>
 
      <div class="constrained top">
        <%= t.renderMarkdown(archieml.text2.section15) %>
      </div>

      <div class="content line top">
          <img src="assets/line.jpg"></div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section16) %>
        </div>

        <div class="center" id="branson-video">
            <%= t.include("_prerollVideo.html", { file: "codi_titlecard.mp4", id: "6068745312001", runtime: "3:22" }) %>
            <div class="caption">Codi Branson reflects on her ex-husband’s last days. “I thought he was more cared-for in that setting, that it was a hospital.” (Erika Schultz, Gabriel Campanario & Lauren Frohne / The Seattle Times)</div>
          </div>

        <div class="constrained">
            <%= t.renderMarkdown(archieml.text2.section17) %>
          </div>
          
        <div class="quote">
            <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.35">
            <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.35">
          <h5>“I’ve got grandkids now and I’d like to see them grow up,” he told hospital staff. “I’m here to quit and get healthy.”</h5>
        </div>

        <div class="constrained">
            <%= t.renderMarkdown(archieml.text2.section18) %>
          </div>

          <div class="photoMedium">
              <img src="assets/photos/codi.jpg" alt="Photo of Codi Branson" aria-describedby="codi-caption"></a>
              <div class="captionLeft" id="codi-caption">When her former husband needed treatment for alcoholism, Codi Branson felt confident that Cascade Behavioral Hospital in Tukwila would be a good fit. He died three days after checking in. (Erika Schultz / The Seattle Times)</div>
            </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section19) %>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section20) %>
      </div>

      <div class="photoMedium">
          <img src="assets/photos/eric-old-daughter.jpg" alt="Eric Descalso holding young daughter" aria-describedby="eric-old-daughter-caption">
        </a>
          <div class="caption" id="eric-old-daughter-caption">Danielle Descalso and her dad, Eric Descalso, "were best friends," says her mother, Codi Branson. (Courtesy of the Descalso family)</div>
        </div>

        <div class="content line top">
            <img src="assets/line.jpg"></div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section21) %>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section22) %>
      </div>

      <hr>

      <div id="washington-facilities">
        <%= t.include("_facility-map.html") %>
      </div>
          
      <hr>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section23) %>
      </div>

      <div class="constrained">
        <div class="indent">
          <li>At Navos, a nonprofit hospital in West Seattle for patients who have been involuntarily committed, at least 17 patients escaped over three years. One patient who escaped was found unresponsive, with a blood-alcohol concentration of 0.57 — a level that can be fatal — and was taken to Harborview Medical Center where he survived, records show.</li><br>
          <li>At BHC Fairfax Hospital in Kirkland, there were at least 14 escapes and 133 assaults over three years. Last August, there were two escapes, one apparent suicide attempt and four incidents in which a hospital staffer was assaulted or hurt trying to restrain a patient.</li><br>
          <li>At BHC Fairfax’s Everett facility, which hasn’t reported any adverse events, one patient seized another patient by the back of the head and “punched him in the face repeatedly with the other hand.” A police officer wrote of the October 2018 incident, “Staff at the facility stated they did not have adequate resources at the facility to prevent any further incidents of violence.”</li><br>
          <li>At Smokey Point Behavioral Hospital, which opened in June 2017, The Times was able to identify 28 unreported assaults through law enforcement and regulatory records. But that represents only a slice of the violence occurring inside the hospital. Its own incident log recorded 88 assaults in 2018 alone, according to a state inspection report, which didn’t provide details of the incidents.</li>
          </div>
        </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section24) %>
      </div>

      <hr>

      <div>
          <h2 class="map">Three assaults at BHC Fairfax Hospital in Kirkland</h2></div>
        <div class="triple">

            <div class="image-container">
                <video src="./assets/videos/20190715_Fairfax_security_1.mp4" controls playsinline ></video>
                <div class="caption" id="fairfax1-caption"><b>Oct. 31, 2017:</b> The victim was taken to Evergreen Medical Center for his injuries. The assailant was charged with misdemeanor assault.</div>
            </div>
            <div class="image-container">
                <video src="./assets/videos/20190715_Fairfax_security_2.mp4" controls playsinline ></video>
                <div class="caption" id="fairfax2-caption"><b>Oct. 17, 2018:</b> The victim lost a front tooth and suffered an apparent broken nose. The assailant was arrested and the case was sent to the prosecutor.</div>
            </div>
            <div class="image-container">
                <video src="./assets/videos/20190715_Fairfax_security_3.mp4" controls playsinline ></video>
                <div class="caption" id="fairfax3-caption"><b>Dec. 27, 2018:</b> The staff member, who had just been punched in the face, was then bitten on the hand. Police referred the assailant for prosecution.</div>
            </div>

          </div>

          <hr>

        <div class="constrained">
            <%= t.renderMarkdown(archieml.text2.section25) %>
        </div>


      <div class="content line">
          <img src="assets/line.jpg"></div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section26) %>
      </div>

      <div class="floating constrained">
          <div>
            <img src="assets/photos/jim.jpg" alt="Jim Howell" aria-describedby="jim-caption">
          </a>
            <div class="caption" id="jim-caption">Jim Howell, 66, fell into depression after a shoulder injury. For days, he talked about his hopelessness, and took his own life about two weeks after arriving at Cascade Behavior Hospital. (Courtesy of Bonnie Jaeger)</div>
          </div>
        </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section27) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.45">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.45">
      <h5>That night, hospital staff made a note of Howell’s status every 15 minutes, as they had since his arrival. The record shows he was in bed all morning until 5:30 a.m., which is then crossed out with a large “X.”</h5>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section28) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.5">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.5">
        <h5>“Cascade respectfully refutes as inaccurate any allegation that staff were not properly trained to respond to this unfortunate incident.” - Michael Uradnik, CEO of Cascade’s Behavioral Hospital</h5>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section29) %>
      </div>

      <div class="visible-mobile">
        <hr>
      </div>

      <div class="floating constrained">
        <div>
          <h6>TIMES WATCHDOG</h6>
          <a href="https://www.seattletimes.com/seattle-news/times-watchdog/behind-joint-commissions-gold-seal-of-approval-a-history-of-missed-safety-violations-at-psychiatric-hospitals/" target="_blank"><h3>Read the story: 'Gold seal of approval' — and missed safety violations</h3><img src="assets/photos/seal.jpg" alt="Timeline or Rosemary Torgesen's last months"></a>
        </div>
      </div>
    
      <div class="visible-mobile">
        <hr>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section30) %>
      </div>

      <div class="content line top">
        <img src="assets/line.jpg"></div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section31) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.55">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.55">
      <h5>Tukwila police and fire responded to a reported assault at Cascade Behavioral but, upon arrival, “a nurse came out and said there was no assault and sent them on their way.”</h5>
    </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section32) %>
        </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section33) %>
      </div>

      <div class="triple photoMedium">
          <div class="image-container">
              <img src="assets/photos/tomich.jpg" alt="Carolyn Tomich" aria-describedby="tomich-caption">
            </a>
              <div class="caption" id="tomich-caption">Cascade staff told Carolyn Tomich's daughter she'd had a "non-injury fall" and suggested taking her mother to see a doctor. Tomich had broken her hip, and the fracture contributed to her death a few weeks later. (Courtesy of Tracee Tomich)</div>
          </div>
          <div class="image-container">
              <img src="assets/photos/turner.jpg" alt="Kenneth Turner" aria-describedby="turner-caption">
            </a>
              <div class="caption" id="turner-caption">Kenneth Turner, 82, fell four times at Cascade. “If they had been walking with him, or taking care of him like they’re supposed to, how did he fall four times?” said Barbara Turner, his wife of 62 years. (Courtesy of Judy Russo)</div>
          </div>
          <div class="image-container">
              <img src="assets/photos/mason.jpg" alt="Jim Mason" aria-describedby="mason-caption">
            </a>
              <div class="caption" id="mason-caption">Jim Mason's family never learned from Cascade how the 92-year-old fell. He died of a hemorrhage and "blunt force injuries to the head" in May 2018. (Courtesy of Tim Johnson)</div>
          </div>
        </div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section34) %>
        </div>

        <!-- <div class="content constrained floating">
            <%= t.include("partials/_ad.html", { type: "square" }) %>
          </div> -->

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section35) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.6">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.6">
      <h5>“They were the most attentive, caring, compassionate people. She was more at peace, more happy there than anytime in the last 15 years.” - Don Kay, husband of Marilyn Ham-Kay</h5>
    </div>

    <div class="constrained">
      <%= t.renderMarkdown(archieml.text2.section36) %>
    </div>

    <div class="content line top">
      <img src="assets/line.jpg"></div>

      <%= t.include("partials/_dontMiss.html") %>

      <div class="constrained top">
        <div class="resourcesCenter">
          <a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/"><h3>Resources for mental-health support</h3></a>
          <div class="list"><li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#one">In a crisis?</a></li>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#two">Need support?</a></li>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#three">Worried about someone you know?</a></li>
          </div>
        </div>
        </div>
      </div>

      <section class="constrained">
        <div class="content line top">
            <img src="assets/line.jpg"></div>

            <ul class="aside-text" style="padding-left:0">
                <h4 style="text-align: center;">CREDITS</h4>
                
                <div class="credits" style="column-count:2;list-style-type: none">
                    <li><strong>Reporter:</strong>  Daniel Gilbert</li>
                    <li><strong>Project editor:</strong>  Ray Rivera</li>
                    <li><strong>Photographer:</strong>  Erika Schultz</li>
                    <li><strong>Photo editor:</strong>  Fred Nelson</li>
                    <li><strong>Video editor:</strong>  Lauren Frohne</li>
                    <li><strong>Developer and graphic artist:</strong>  Emily M. Eng</li>
                    <li><strong>Illustrator:</strong>  Gabriel Campanario</li>
                    <li><strong>Engagement:</strong>  Taylor Blatchford</li>
                    <li><strong>Project coordinator:</strong>  Laura Gordon</li>
                </div>
            </ul>
        </section>

        <div class="center watchdog">
          <h6>You can support watchdog journalism</h6>
          <div class="gray">Make a tax-deductible donation to <a href="https://company.seattletimes.com/investigativefund/">The Seattle Times Investigative Journalism Fund,</a> and subscribe to <a href="https://www.seattletimes.com/subscribe/signup-offers/">The Seattle Times.</a></div>
        </div>

    </main>
   
    <script src="app.js" async></script>
    <div class="trouble">
        <p>If you’re having trouble commenting or viewing comments, hit refresh on your browser and try again.</p>
    </div>

    <div class="constrained">
        <%= t.include("partials/_comments.html") %>
    </div>

    <%= t.include("partials/_navBottom.html") %>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
