<!doctype html>
<html lang="en-US">
  <head>
    <meta property="og:image" content="https://projects.seattletimes.com/2019/public-crisis-private-toll-part2/assets/social.jpg" />
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      <%= t.include("partials/_gtm.html") %>
      <%= t.include("partials/_nav.html") %>

    <header>
      <iframe src="./assets/videos/2-seconds-of-silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
      <h1>PUBLIC CRISIS, PRIVATE TOLL </h1>
      <h3>The hidden costs of the mental-health industry’s expansion</h3>
        <div class="content line">
          <img src="assets/line.jpg"></div>
        <h2>At private psychiatric hospitals, safety incidents go unreported and violations go unpunished</h2>
        <img src="assets/photos/codi.jpg" alt="Photo of Codi Branson" aria-describedby="codi-caption"></a>
        <div class="caption" id="codi-caption">When her former husband needed treatment for alcoholism, Codi Branson   felt confident that Cascade Behavioral Hospital in Tukwila would be a good fit. He died three days after checking in. (Erika Schultz / The Seattle Times)</div>
      </div>
    </header>

    <main class="content">
      <div class="byline constrained">
            By <a class="name" href="https://www.seattletimes.com/author/daniel-gilbert/">Daniel Gilbert</a>
            <div class="staff">Seattle Times staff reporter</div>
            <div class="date">Published September 8, 2019</div>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section1) %>
      </div>

      <div class="floating constrained">
        <div class="resources">
          <h6 style="padding: 10px">You can support watchdog journalism</h6>
          Make a tax-deductible donation to <a href="https://company.seattletimes.com/investigativefund/">The Seattle Times Investigative Journalism Fund,</a> and subscribe to <a href="https://www.seattletimes.com/subscribe/signup-offers/">The Seattle Times.</a>
        </div>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section2) %>
      </div>

      <hr>

    <div>
      <%= t.include("_facility-map.html") %>
    </div>
        
      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section3) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.15">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.15">
        <h5>“That seems like a big, big red flag.” - Jim Vollendroff, former director of King County Behavioral Health and Recovery Division</h5>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section4) %>
        </div>

        <div class="floating constrained">
          <%= t.include("_kresch.html") %>
        </div>


      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section5) %>
      </div>

      <hr>

      <div class="hidden-mobile">
        <%= t.include("_bubbleChart.html") %>
      </div>
  
      <div class="visible-mobile">
        <%= t.include("_bubbleChartMobile.html") %>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section6) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.15">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.15">
        <h5>“Our role in this structure is to really work with the facility to help them be successful in doing their job better.” - Nate Weed, director of the state Department of Health’s Office of Community Health Systems</h5>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section7) %>
        </div>

        <hr>
      CHART: U.S. MAP

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section8) %>
        </div>

          <div class="content line top">
              <img src="assets/line.jpg"></div>

        <div class="constrained">
            <%= t.renderMarkdown(archieml.text2.section9) %>
          </div>

      <div class="photoMedium">
          <img src="assets/photos/eric-young-daughter.jpg" alt="Eric Descalso holding young daughter" aria-describedby="eric-young-daughter-caption">
        </a>
          <div class="caption" id="eric-young-daughter-caption">Eric Descalso holds his daughter Danielle in a family photo. (Courtesy of Descalso family)</div>
        </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section10) %>
        </div>

        <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.15">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.15">
        <h5>The acquisition “is absolutely going to be a gem for us,” Acadia’s president told financial analysts the following spring</h5>
        </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section11) %>
      </div>

      <div class="visible-mobile">
        <hr>
      </div>

      <div class="floating constrained">
        <div>
          <a href="http://projects.seattletimes.com/2019/public-crisis-private-toll-prologue"> <h3>Primer: Washington's<br>mental-health care crisis</h3><img src="assets/photos/image6m.jpg" alt="Link to read the overview of mental healthcare in Washington"></a>
        </div>
      </div>

      <div class="visible-mobile">
        <hr>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section12) %>
    </div>

      <div class="photo">
        <img src="assets/photos/cascade.jpg" alt="Cascade Behavioral Health Hospital building" aria-describedby="cascade-caption">
      </a>
        <div class="caption" id="cascade-caption">Cascade Behavioral Health Hospital in Tukwila was known as Riverton Hospital until it was sold to Acadia Healthcare in 2013. It offers treatment for psychiatric and addiction disorders. (Erika Schultz / The Seattle Times)</div>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section13) %>
      </div>

      <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
        <h5>Police officers were responding to Cascade Behavioral so often that in October of 2016, Tukwila’s police chief designated it a “chronic nuisance property.”</h5>
      </div>
 
      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section14) %>
      </div>

      <div class="content line top">
          <img src="assets/line.jpg"></div>


      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section15) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
      <h5>“I’ve got grandkids now and I’d like to see them grow up,” he told hospital staff. “I’m here to quit and get healthy.”</h5>
    </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section16) %>
      </div>

      <div class="floating constrained">
        <div class="resources">
          <a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/"><h3>Resources for mental-health support</h3></a>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#one">In a crisis?</a></li>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#two">Need support?</a></li>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#three">Worried about someone you know?</a></li>
        </div>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section17) %>
      </div>

      <div class="center">
        <%= t.include("_prerollVideo.html", { file: "codi_titlecard.mp4", id: "6068745312001", runtime: "3:22" }) %>
        <div class="caption">xxxxxxx (Erika Schultz, Gabriel Campanario & Lauren Frohne / The Seattle Times)</div>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section18) %>
      </div>

      <div class="photoMedium">
          <img src="assets/photos/eric-old-daughter.jpg" alt="Eric Descalso holding young daughter" aria-describedby="eric-old-daughter-caption">
        </a>
          <div class="caption" id="eric-old-daughter-caption">Danielle Descalso and her dad, Eric Descalso, "were best friends," says her mother, Codi Branson. (Courtesy of Descalso family)</div>
        </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section19) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
      <h5>“Maybe I should have checked into it more,” said Codi Branson, Eric Descalso's ex-wife. “It’s, like, what did I miss?”</h5>
    </div>

        <div class="content line">
            <img src="assets/line.jpg"></div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section20) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
      <h5>In Colorado, hospitals have to report everything from unexplained deaths to threats of physical harm, which regulators must investigate and “disseminate … to the public in a form that will assist people in making informed choices among health care facilities,” according to state law.</h5>
    </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section21) %>
      </div>

      <div class="content constrained floating">
        <%= t.include("partials/_ad.html", { type: "square" }) %>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section22) %>
      </div>

      <div class="constrained">
        <div class="indent">
          <li>At Navos, a nonprofit hospital in West Seattle for patients who have been involuntarily committed, at least 17 patients escaped over three years. One patient who escaped was found unresponsive, with a blood-alcohol concentration of 0.57 — a level that can be fatal — and was taken to Harborview Medical Center where he survived, records show.</li><br>
          <li>At BHC Fairfax Hospital in Kirkland, there were at least 14 escapes and 133 assaults over three years. Last August, there were two escapes, one apparent suicide attempt and four incidents in which a hospital staffer was assaulted or hurt trying to restrain a patient.</li><br>
          <li>A staff member threw away the catheter that a “wheelchair bound” patient used to manage a urinary condition, only for another staffer to remove it from the biohazard trash, wash it off and return it to the patient.</li><br>
          <li>At BHC Fairfax’s Everett facility, which hasn’t reported any adverse events, one patient seized another patient by the back of the head and “punched him in the face repeatedly with the other hand.” A police officer wrote of the October 2018 incident, “Staff at the facility stated they did not have adequate resources at the facility to prevent any further incidents of violence.”</li><br>
          <li>At Smokey Point Behavioral Hospital, which opened in June 2017, The Times was able to identify 28 unreported assaults through law enforcement and regulatory records. But that represents only a slice of the violence occurring inside the hospital. Its own incident log recorded 88 assaults in 2018 alone, according to a state inspection report, which didn’t provide details of the incidents.</li>
          </div>
        </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section23) %>
      </div>
      
        <div class="triple">
            <div class="image-container">
                <iframe src="//players.brightcove.net/1509317113/V1eCvUwO2g_default/index.html?videoId=6069385542001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            </div>
            <div class="image-container">
                <iframe src="//players.brightcove.net/1509317113/V1eCvUwO2g_default/index.html?videoId=6069385321001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            </div>
            <div class="image-container">
                <iframe src="//players.brightcove.net/1509317113/V1eCvUwO2g_default/index.html?videoId=6069385387001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            </div>
          </div>

        <div class="constrained">
            <%= t.renderMarkdown(archieml.text2.section24) %>
        </div>


      <div class="content line">
          <img src="assets/line.jpg"></div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section25) %>
      </div>

      <div class="floating constrained">
          <div>
            <img src="assets/photos/jim.jpg" alt="Jim Howell" aria-describedby="jim-caption">
          </a>
            <div class="caption" id="jim-caption">Jim Howell, 66, fell into depression after a shoulder injury. For days, he talked about his hopelessness, and took his own life about two weeks after arriving at Cascade Behavior Hospital. (Courtesy of Bonnie Jaeger)</div>
          </div>
        </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section26) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
      <h5>That night, hospital staff made a note of Howell’s status every 15 minutes, as they had since his arrival. The record shows he was in bed all morning until 5:30 a.m., which is then crossed out with a large “X.”</h5>
    </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section27) %>
      </div>

        <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
        <h5>“Cascade respectfully refutes as inaccurate any allegation that staff were not properly trained to respond to this unfortunate incident.” - Michael Uradnik, CEO of Cascade’s Behavioral Hospital.</h5>
      </div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section28) %>
      </div>

      <div class="visible-mobile">
        <hr>
      </div>

      <a name="timeline">
      <div class="floating constrained">
        <div>
          <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-timeline/"><h3>Click to read more sidebar</h3><img src="assets/photos/image6m.jpg" alt="Timeline or Rosemary Torgesen's last months"></a>
        </div>
      </div>
    </a>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section29) %>
      </div>

      <div class="content line top">
        <img src="assets/line.jpg"></div>

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section30) %>
      </div>

        <div class="quote">
          <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
          <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
        <h5>Tukwila police and fire responded to a reported assault at Cascade Behavioral but, upon arrival, “a nurse came out and said there was no assault and sent them on their way,”</h5>
      </div>

      <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section31) %>
        </div>

        <div class="content constrained floating">
          <%= t.include("partials/_ad.html", { type: "square" }) %>
        </div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section32) %>
        </div>

        <div class="floating constrained">
          <div>
            <img src="assets/photos/tomich.jpg" alt="Carolyn Tomich" aria-describedby="tomich-caption">
          </a>
            <div class="caption" id="tomich-caption">Carolyn Tomich, 76, was photographed at Cascade Behavioral Hospital the day she fell and broke her hip in June 2017. The fracture contributed to her death a few weeks later. (Courtesy of Tracee Tomich)</div>
          </div>
        </div>

        <div class="constrained">
          <%= t.renderMarkdown(archieml.text2.section33) %>
        </div>

      <div class="floating constrained">
          <div>
            <img src="assets/photos/mason.jpg" alt="Jim Mason" aria-describedby="mason-caption">
          </a>
            <div class="caption" id="mason-caption">Jim Mason, 92, died after a fall at Cascade Behavior Hospital that caused a hemorrhage and "blunt force injuries to the head" in May 2018. (Courtesy of Tim Johnson)</div>
          </div>
        </div>

      <!-- <div class="constrained photo">
        <img src="assets/photos/reum.jpg" alt="Sarah Reum" aria-describedby="reum-caption">
        </a>
      </div> -->

      <div class="constrained">
        <%= t.renderMarkdown(archieml.text2.section34) %>
      </div>

      <div class="quote">
        <img src="assets/long-quote.jpg" class="hidden-mobile" style="opacity: 0.3">
        <img src="assets/quote.jpg" class="visible-mobile" style="opacity: 0.3">
      <h5>“They were the most attentive, caring, compassionate people. She was more at peace, more happy there than anytime in the last 15 years.” - Don Kay, husband of Marilyn Ham-Kay</h5>
    </div>

    <div class="constrained">
      <%= t.renderMarkdown(archieml.text2.section35) %>
    </div>

      <!-- <div class="visible-mobile">
        <hr>
      </div>

      <a name="timeline">
      <div class="floating constrained">
        <div>
          <a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-timeline/"><h3>Click to see a timeline of Rosemary Torgesen's last months</h3><img src="assets/photos/timeline2.jpg" alt="Timeline or Rosemary Torgesen's last months"></a>
        </div>
      </div>
    </a> -->


<div class="content line top">
  <img src="assets/line.jpg"></div>

      <%= t.include("partials/_dontMiss.html") %>

      <div class="constrained top">
        <div class="resourcesCenter">
          <a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/"><h3>Resources for mental-health support</h3></a>
          <div class="list"><li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#one">In a crisis?</a></li>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#two">Need support?</a></li>
          <li><a href="https://www.seattletimes.com/seattle-news/resources-for-mental-health-support/#three">Worried about someone you know?</a></li>
          </div>
        </div>
        </div>
      </div>

      <section class="constrained">
        <div class="content line top">
            <img src="assets/line.jpg"></div>

            <ul class="aside-text" style="padding-left:0">
                <h4 style="text-align: center;">CREDITS</h4>
                
                <div class="credits" style="column-count:2;list-style-type: none">
                    <li><strong>Reporter:</strong>  Daniel Gilbert</li>
                    <li><strong>Project editor:</strong>  Ray Rivera</li>
                    <li><strong>Photographer:</strong>  Erika Schultz</li>
                    <li><strong>Photo editor:</strong>  Fred Nelson</li>
                    <li><strong>Video editor:</strong>  Lauren Frohne</li>
                    <li><strong>Developer and graphic artist:</strong>  Emily M. Eng</li>
                    <li><strong>Illustrator:</strong>  Gabriel Campanario</li>
                    <li><strong>Engagement:</strong>  Taylor Blatchford</li>
                    <li><strong>Project coordinator:</strong>  Laura Gordon</li>
                </div>
            </ul>
        </section>

        <div class="center watchdog">
          <h6>You can support watchdog journalism</h6>
          <div class="gray">Make a tax-deductible donation to <a href="https://company.seattletimes.com/investigativefund/">The Seattle Times Investigative Journalism Fund,</a> and subscribe to <a href="https://www.seattletimes.com/subscribe/signup-offers/">The Seattle Times.</a></div>
        </div>

        

    </main>
      

   
    <%= t.include("partials/_navBottom.html") %>
    <script src="app.js" async></script>
    <div class="trouble">
        <p>If you’re having trouble commenting or viewing comments, hit refresh on your browser and try again.</p>
    </div>
    <%= t.include("partials/_comments.html") %>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
